#content{
	margin-top: 100px
}
.mainpart{
	margin-top: 100px;
}
.catalog{
	border:solid rgb(218,247,245) 10px;
	height: 700px;
}
.item{
	border:solid rgb(218,247,245) 10px;
	height: 300px;
}
.puzzleicon{
	margin-top:60px;
	white-space: nowrap;
	display: inline-block;
}