.lifecycle{
	text-align : center;
}
.lifecycle>div>img{
	vertical-align : middle;
}
.button{
	text-align : center;

}
.button>div>a>img{
	vertical-align : middle;
}
.button>div>a>p{
	font-size: 30px;
}

