body{
	background-color: rgb(192,231,255);
	min-width: 50em;
}
.img{
	margin-top: 4em;
	height: 18em;
	text-align: center;
}
.img>img{
	height: 100%;
}
.id{
	text-align: center;
}
.table{
	margin-top: 1em;
	margin-left: 2.5em;
}
.form-group{
	margin-top: 2em;
}
.form-group>div>a{
	position: absolute;
	margin-top: 0.5em;
}
.submit{
	padding-bottom: 5em;
	left: 3em;
}
.button{
	margin-top: 1.2em;
	text-align: center;
	width: 5em;
}
.button>a{
	text-decoration: none;
}
.button>a>h3{
	border-radius: 10px 10px;
	background-color: #008edb;
	color: white;
	width: 5em;
	padding: 0.3em;
	margin: -0.3em;
}
.button>a>h3:hover{
	border-radius: 10px 10px;
	background-color: #80d2ff;
	color: white;
	width: 5em;
	padding: 0.3em;
	margin: -0.3em;
}
.signup{
	text-align: center;
}