body{
	background-color: rgb(192,231,255);
	min-width: 50em;
}
.logo{
	margin-top: 4em;
	height: 18em;
	text-align: center;
}
.logo>img{
	height: 100%;
}
.connectfb{
	margin-top: 4em;
	left: 5em;
}
.connectgoogle{
	margin-top: 4em;
	left: 3em;
}
.connectfb>a>img{
	width:100%;
	height: 3.5em;
}
.connectgoogle>a>img{
	width:100%;
	height: 3.5em;
}
.table{
	margin-top: 1em;
	margin-left: 2.5em;
}
.form-group{
	margin-top: 2em;
}
.submit{
	padding-bottom: 5em;
}
.button{
	margin-top: 1.2em;
	text-align: center;
	width: 5em;
}
.button>a{
	text-decoration: none;
}
.button>a>h3{
	border-radius: 10px 10px;
	background-color: #008edb;
	color: white;
	width: 5em;
	padding: 0.3em;
	margin: -0.3em;
}
.button>a>h3:hover{
	border-radius: 10px 10px;
	background-color: #80d2ff;
	color: white;
	width: 5em;
	padding: 0.3em;
	margin: -0.3em;
}
.signup{
	text-align: center;
}