#header{
	position: fixed;
	margin-top: 30px;
	height: 175px;
	background-color: rgb(35,69,99);
	z-index: 2;
}
#content{
	z-index: 1;
	margin-top: 120px;
}
.icon{
	width: 20%;
	text-align: center;
}
.icon>a>img{
	margin-top: 30px;
}
.threetype{
	margin-top: -35px;

}
.threetype>div>a{
	text-decoration: none;
}
.white{
	height: 200px;
}
.case{
	z-index: -2;
	text-align: center;
	background-color: rgb(193,244,239);
	height: 400px;
	border: 40px solid white;
	border-radius: 70px;
}
.case>p{
	border: 20px solid transparent;
}
.case>img{
	z-index: -1;
	width: 120px;
	position: relative;
	margin-top: -90px;
	left: 45px;
}
#success>img{
	width: 200px;
	float: left;
	margin-left: 120px;
}
@media screen and (min-width: 1300px){
	.left{
		padding:50px;
		margin: -50px;
		margin-top: -39px;
		position: absolute;
		background-image: url(../img/wanted/puzzle1.svg);
		background-repeat: no-repeat;
		left: 700px;
		background-size: 90px;
	}
	.left>a>h4{
		position: absolute;
		width: 75px;	
		color: black;
		right: 24px;
		font-size: 16px;
		top: 45px;
	}
	.mid{
		padding:60px;
		margin: -60px;
		margin-top: -14px;
		position: absolute;
		left: 773px;
		text-align: center;
		background-image: url(../img/wanted/puzzle2.svg);
		background-repeat: no-repeat;
		background-size: 120px;
	}
	.mid>a>h4{
		position: absolute;
		width: 75px;
		color: black;
		right: 22px;
		top: 19px;
		font-size: 16px;
		font-weight: bold;
	}
	.right{
		padding:49px;
		margin: -49px;
		margin-top: -13px;
		position: absolute;
		left: 856px;
		text-align: left;
		background-image: url(../img/wanted/puzzle3.svg);
		background-repeat: no-repeat;
		background-size: 96px;
	}
	.right>a>h4{
		position: absolute;
		width: 75px;
		color: black;
		right: -3px;
		top: 20px;
		font-size: 16px;
	}
	.joinwanted{
		padding: 50px;
		margin:-50px;
		background-image: url(../img/wanted/puzzle4.svg);
		background-repeat: no-repeat;
		background-size: 100px;
		float: right;
		margin-right: -10px;
		margin-top: -45px;
	}
	.joinwanted>p{
		font-size: 15px;
		position: absolute;
		width: 75px;
		right: 20px;
		bottom: 50px;
		color: green;
		cursor: pointer;
	}
	#dialog{
			position: fixed;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			margin:0px;
			background-color: #000000;
			z-index: 1;
		}
		#msg{  
			position:absolute;
			top:0px;
			background-color:rgb(183,233,249);
			z-index:3;
			border:30px solid transparent;
			text-align: center;
			width: 400px;
		}
		#msgicon{
			margin-top: -80px;
			margin-left: -10px;
		}
		#msg>table{
			text-align: center;
		}
		#msg>table,tr,th{
			padding: 10px;
		}
		#msg>input{
			text-align: center;
		}
		#wantedconfirm{
			text-align: center;
		}

}
@media screen and (min-width:992px)   {
	@media screen and (max-width:1300px)	{
		.left{
			padding:50px;
			margin: -50px;
			margin-top: -39px;
			position: absolute;
			background-image: url(../img/wanted/puzzle1.svg);
			background-repeat: no-repeat;
			left: 500px;
			background-size: 90px;
		}
		.left>a>h4{
			position: absolute;
			width: 75px;	
			color: black;
			right: 24px;
			font-size: 16px;
			top: 45px;
		}
		.mid{
			padding:60px;
			margin: -60px;
			margin-top: -14px;
			position: absolute;
			left: 573px;
			text-align: center;
			background-image: url(../img/wanted/puzzle2.svg);
			background-repeat: no-repeat;
			background-size: 120px;
		}
		.mid>a>h4{
			position: absolute;
			width: 75px;
			color: black;
			right: 22px;
			top: 19px;
			font-size: 16px;
			font-weight: bold;
		}
		.right{
			padding:49px;
			margin: -49px;
			margin-top: -13px;
			position: absolute;
			left: 656px;
			text-align: left;
			background-image: url(../img/wanted/puzzle3.svg);
			background-repeat: no-repeat;
			background-size: 96px;
		}
		.right>a>h4{
			position: absolute;
			width: 75px;
			color: black;
			right: -3px;
			top: 20px;
			font-size: 16px;
		}
		.joinwanted{
			padding: 50px;
			margin:-50px;
			background-image: url(../img/wanted/puzzle4.svg);
			background-repeat: no-repeat;
			background-size: 100px;
			float: right;
			margin-right: -10px;
			margin-top: -45px;
		}
		.joinwanted>p{
			font-size: 15px;
			position: absolute;
			width: 75px;
			right: 20px;
			bottom: 50px;
			color: green;
			cursor: pointer;
		}

		#dialog{
			position: fixed;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			margin:0px;
			background-color: #000000;
			z-index: 1;
		}
		#msg{  
			position:absolute;
			top:0px;
			background-color:rgb(183,233,249);
			z-index:3;
			border:30px solid transparent;
			text-align: center;
			width: 400px;
		}
		#msgicon{
			margin-top: -80px;
			margin-left: -10px;
		}
		#msg>table{
			text-align: center;
		}
		#msg>table,tr,th{
			padding: 10px;
		}
		#msg>input{
			text-align: center;
		}
		#wantedconfirm{
			text-align: center;
		}

	}
}
@media screen and (min-width:768px)   {
	@media screen and (max-width:992px){
		.left{
			padding:50px;
			margin: -50px;
			margin-top: -39px;
			position: absolute;
			background-image: url(../img/wanted/puzzle1.svg);
			background-repeat: no-repeat;
			left: 350px;
			background-size: 90px;
		}
		.left>a>h4{
			position: absolute;
			width: 75px;	
			color: black;
			right: 24px;
			font-size: 16px;
			top: 45px;
		}
		.mid{
			padding:60px;
			margin: -60px;
			margin-top: -14px;
			position: absolute;
			left: 423px;
			text-align: center;
			background-image: url(../img/wanted/puzzle2.svg);
			background-repeat: no-repeat;
			background-size: 120px;
		}
		.mid>a>h4{
			position: absolute;
			width: 75px;
			color: black;
			right: 22px;
			top: 19px;
			font-size: 16px;
			font-weight: bold;
		}
		.right{
			padding:49px;
			margin: -49px;
			margin-top: -13px;
			position: absolute;
			left:506px;
			text-align: left;
			background-image: url(../img/wanted/puzzle3.svg);
			background-repeat: no-repeat;
			background-size: 96px;
		}
		.right>a>h4{
			position: absolute;
			width: 75px;
			color: black;
			right: -3px;
			top: 20px;
			font-size: 16px;
		}
		.joinwanted{
			padding: 50px;
			margin:-50px;
			background-image: url(../img/wanted/puzzle4.svg);
			background-repeat: no-repeat;
			background-size: 100px;
			float: right;
			margin-right: -10px;
			margin-top: -45px;
		}
		.joinwanted>p{
			font-size: 15px;
			position: absolute;
			width: 75px;
			right: 20px;
			bottom: 50px;
			color: green;
			cursor: pointer;
		}

		#dialog{
			position: fixed;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			margin:0px;
			background-color: #000000;
			z-index: 1;
			text-align: center;
		}
		#msg{  
			position:absolute;
			top:0px;
			background-color:rgb(183,233,249);
			width:400px;
			z-index:3;
			border:30px solid transparent;
			text-align: center;
		}
		#msgicon{
			margin-top: -80px;
			margin-left: -10px;
		}
		#msg>table,tr,th{
			padding: 10px;
		}
		#msg>input{
			text-align: center;
			width: 200px;
		}
		#wantedconfirm{
			text-align: center;
		}
		

	}
}
@media screen and (max-width: 768px) {
	.left{
		padding:50px;
		margin: -50px;
		margin-top: -39px;
		position: absolute;
		background-image: url(../img/wanted/puzzle1.svg);
		background-repeat: no-repeat;
		left: 200px;
		background-size: 90px;
	}
	.left>a>h4{
		position: absolute;
		width: 75px;	
		color: black;
		right: 24px;
		font-size: 16px;
		top: 45px;
	}
	.mid{
		padding:60px;
		margin: -60px;
		margin-top: -14px;
		position: absolute;
		left: 273px;
		text-align: center;
		background-image: url(../img/wanted/puzzle2.svg);
		background-repeat: no-repeat;
		background-size: 120px;
	}
	.mid>a>h4{
		position: absolute;
		width: 75px;
		color: black;
		right: 22px;
		top: 19px;
		font-size: 16px;
		font-weight: bold;
	}
	.right{
		padding:49px;
		margin: -49px;
		margin-top: -13px;
		position: absolute;
		left:356px;
		text-align: left;
		background-image: url(../img/wanted/puzzle3.svg);
		background-repeat: no-repeat;
		background-size: 96px;
	}
	.right>a>h4{
		position: absolute;
		width: 75px;
		color: black;
		right: -3px;
		top: 20px;
		font-size: 16px;
	}
	.joinwanted{
		padding: 50px;
		margin:-50px;
		background-image: url(../img/wanted/puzzle4.svg);
		background-repeat: no-repeat;
		background-size: 100px;
		float: right;
		margin-right: -10px;
		margin-top: -45px;
	}
	.joinwanted>p{
		font-size: 15px;
		position: absolute;
		width: 75px;
		right: 20px;
		bottom: 50px;
		color: green;
		cursor: pointer;
	}

	#dialog{
		position: fixed;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		margin:0px;
		background-color: #000000;
		z-index: 1;
		text-align: center;
	}
	#msg{  
		position:absolute;
		top:0px;
		background-color:rgb(183,233,249);
		width:400px;
		z-index:3;
		border:30px solid transparent;
		text-align: center;
	}
	#msgicon{
		margin-top: -80px;
		margin-left: -10px;
	}
	#msg>table,tr,th{
		padding: 10px;
	}
	#msg>input{
		text-align: center;
	}
	#wantedconfirm{
		text-align: center;
	}
	
}