#header{
	position: fixed;
	margin-top: -90px;
	height: 175px;
	width: 1410px;
	background-color: rgb(35,69,99);
	z-index: 2;
}
#content{
	z-index: 1;
	margin-top: 120px;
}
.icon{
	width: 30%;
	text-align: center;
}
.icon>a>img{
	margin-top: 30px;
}
.threetype{
	margin-top: -35px;

}
.left{
	padding:50px;
	margin: -50px;
	margin-top: -39px;
	position: absolute;
	background-image: url(../img/wanted/puzzle1.svg);
	background-repeat: no-repeat;
	left: 550px;
	background-size: 90px;
}
.left>a>h4{
	position: absolute;
	width: 75px;	
	color: black;
	font-weight: bold;
	right: 24px;
	font-size: 16px;
	top: 45px;
}
.mid{
	padding:60px;
	margin: -60px;
	margin-top: -14px;
	position: absolute;
	left: 623px;
	text-align: center;
	background-image: url(../img/wanted/puzzle2.svg);
	background-repeat: no-repeat;
	background-size: 120px;
}
.mid>a>h4{
	position: absolute;
	width: 75px;
	color: black;
	right: 22px;
	top: 19px;
	font-size: 16px;
}
.right{
	padding:49px;
	margin: -49px;
	margin-top: -13px;
	position: absolute;
	left: 706px;
	text-align: left;
	background-image: url(../img/wanted/puzzle3.svg);
	background-repeat: no-repeat;
	background-size: 96px;
}
.right>a>h4{
	position: absolute;
	width: 75px;
	color: black;
	right: -3px;
	top: 20px;
	font-size: 16px;
}
.joinwanted{
	padding: 50px;
	margin:-50px;
	position: absolute;
	background-image: url(../img/wanted/puzzle4.svg);
	background-repeat: no-repeat;
	background-size: 100px;
	left: 1000px;
}
.joinwanted>a>h4{
	position: absolute;
	width: 75px;
	right: 25px;
	bottom: 50px;
	color: green;
}
.threetype>div>a{
	text-decoration: none;
}
.white{
	height: 84px;
}
.bgwhite{
	margin-top: -60px;
	height: 200px;
	background-color: white;
}
.bggray{
	margin-top: -60px;
	height: 200px;
	background-color: rgb(230,230,230);
}
.wantednow{
	height: 250px;
}
.wantedgoods{
	width:180px;
	text-align: center;
	margin-left: 200px;
	margin-top: 60px;
}

.wantedgoods>h2{
	background-image: url(../img/wanted/wantedgoods.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 120px;
	padding: 40px;
	margin: -40px;
	font-weight: bolder;
}
/*.wantedgoods>div{
	position: absolute;
	margin-top: 10px;
	margin-left:50px;
}
.wantedgoods>div>p{
	padding-top: 10px;
	font-weight: bolder;
}*/
.wantedgoods>span>.img{
	position: absolute;
	margin-left: -170px;
	padding-top: 20px;
	height: 180px;
	width: 200px;
	overflow: hidden;
}
.wantedgoods>span>.img>a>img{
	margin-left: -25px;
	height: 100%;
}

.wantedgoods>span>.goodsname{
	width: 100px;
	position: absolute;
	margin-top: 70px;
	margin-left: 60px;
	text-align: left;
}
.wantedgoods>span>.goodsname>a{
	font-size: 28px;
	color: black;
	text-decoration: none;
}
.wantedprice{
	width: 220px;
	position: absolute;
	margin-left: 550px;
	margin-top: -35px;
	text-align: center; 
}
.wantedprice>h2{
	width: 300px;
	background-image: url(../img/wanted/wantedprice.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 60px;
	padding: 40px;
	margin: -40px;
	margin-right: 120px;
	font-weight: bolder;
}
.wantedprice>.price{
	position: absolute;
	margin-top: 105px;
	margin-left: 60px;
	text-align: left;
}
.wantedprice>.price>p{
	font-size: 28px;
	color: black;
}
/*.wantedprice>div{
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
}
.wantedprice>div>p{
	padding-top: 10px;
	font-weight: bolder;
}*/
.resttime1{
	height: 225px;
	width: 220px;
	position: absolute;
	margin-left: 980px;
	margin-top: -95px;
	text-align: center; 
	background-color: rgb(247,147,30);
	border-top: 50px;
}
.resttime1>h2{
	margin-top:60px;
	font-weight: bolder;
}
.resttime2{
	height: 200px;
	width: 220px;
	position: absolute;
	margin-left: 980px;
	text-align: center; 
	background-color: rgb(247,147,30);
	border-top: 50px;
}
.resttime>h2{
	margin-top:60px;
	font-weight: bolder;
}